#main.container

  %h3.header #{@meeting.title}

  %p.centered= image_tag @meeting.image.url

  %h5 #{@meeting.date.try(:to_formatted_s, :custom_long_ordinal)}
  %h5 Location: #{@meeting.location}
  %h5.dl Points Value: #{@meeting.points}
  %br
  %h5.dl About #{@meeting.title}:
  %p.content #{@meeting.description}

  %br

  %p= link_to "Register for this Event", new_registration_path({:meeting_id => @meeting.id})
  %p= link_to "See Who is Registered", who_registered_path({:meeting_id => @meeting.id})
  %p= link_to 'Back to Events', meetings_path
  %p= link_to 'Edit this Event', edit_meeting_path
  %p= link_to 'Delete this Event', meeting_path(@meeting), :method => :delete
  %br
