-#%h1 People#show
-#%p Find me in app/views/people/show.html.haml
#main.container
  -if @person.admin
    %span.small-text-span Admin
  %td.image= image_tag @person.image.url
  %h2.strong #{@person.first_name} #{@person.last_name}
  .row
    -#%strong.col-sm-3 Email Address: #{@user.email}
    -#%strong.col-sm-3 Classification: #{@user.classification}
    %strong.col-sm-3 Points Earned: #{@person.points}
    -#-if @signed_in
      -#%strong.col-sm-3= link_to "Edit profile", edit_user_path(@user)
    -#-if current_user != nil && current_user.admin && !@user.admin
      -#=form_for @user, :method => :patch do |f|
        -#=f.radio_button :admin, true, :checked => true
        -#=f.submit "Add user as admin"
    %p= link_to "Back to all people", people_path
